body {
    background-image: url(Imagens/fundo.png);
    margin: 0 auto;
    width: 80%;
    border: 2px red;
    border-style: dashed;
    
}

body#fundo2{
    background-image: url(Imagens/fundo2.png);
}

header{
    padding-top: 1%;
    display: flex;
    align-items: baseline;
}

.link{
    padding-left:61%;
}

#capa{
    padding-top: 2.9%;
}

input[type=text]{
    margin-bottom: 10px;
}

footer {
    text-align: center
}

