<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>UNES Universidade</title>
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
        
    <body{%block body%}{%endblock%}>
        <!-- Navbar -->
        <header>
            <img id='logo' src="../static/img/logo.png" alt="logo">
            <div class="link">
                <a href="/">Home</a> |
                <a href="/quemsomos">Quem Somos</a> |
                <a href="/contato">Contato</a> 
            </div>
        
        </header>

        {%block content%}
        {%endblock%}    
    <footer>
        <h4>Todos os direitos reservados</h4>
    </footer>
    </body>
</html>