
{%extends 'base.html' %}
{%block content%}
        <article>
        <!-- Corpo-IMG -->
        <div id="capa">  
            <img src="../static/img/capa.png" alt="capa" width="1080px">
        </div> 
        <!-- Corpo-TXT -->
            <div class="text">
                <h1>Sobre a universidade

                </h1>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit at eveniet ipsa corporis blanditiis amet totam commodi. Consequatur hic, labore maxime inventore enim esse eius illum debitis, quos vitae dignissimos?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet cumque culpa consequuntur doloremque ea veritatis aliquid maiores recusandae, minima fugiat minus similique dolore qui rem illum, porro dolores a. Ea! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, veniam sunt error aspernatur iste molestias eveniet ipsum molestiae architecto animi perferendis odio dicta quaerat fugiat quia maxime earum. At, ex.

                </p> 

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit at eveniet ipsa corporis blanditiis amet totam commodi. Consequatur hic, labore maxime inventore enim esse eius illum debitis, quos vitae dignissimos?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet cumque culpa consequuntur doloremque ea veritatis aliquid maiores recusandae, minima fugiat minus similique dolore qui rem illum, porro dolores a. Ea! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, veniam sunt error aspernatur iste molestias eveniet ipsum molestiae architecto animi perferendis odio dicta quaerat fugiat quia maxime earum. At, ex.

                </p>
    
            </div>

        </article>

{%endblock%}