{%extends 'base.html' %}
{%block title%}UNES Universidade - Quem Somos{%endblock%}
{%block body%} id= 'fundo2' {%endblock%}
{%block content%}
    </header>

    <article>
        <!-- Corpo TXT -->
        <h1>Quem Somos</h1>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi reiciendis atque omnis, laboriosam similique laborum odio eaque magni minima obcaecati illo voluptas veritatis mollitia aliquid molestiae ratione nemo esse ullam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ut inventore quos doloremque quam obcaecati corporis exercitationem ducimus veritatis blanditiis. Ipsa cum eaque animi sint libero nulla porro ex deserunt?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit rerum delectus mollitia amet ipsam necessitatibus culpa illo expedita corporis enim officiis placeat laborum perferendis incidunt exercitationem quod, voluptates magnam a.

        </p>

        <h1>5 motivos para estudar</h1>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em ala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização</li>
        </ol>

        <hr>

        <h1>Objetivos</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, saepe ab et sapiente, incidunt, sint id recusandae hic aperiam labore ducimus eveniet in placeat. Eos optio velit commodi dignissimos voluptatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. In, aspernatur? Ex molestias rem sed nihil quae nemo quam ab debitis vitae sit, animi quia voluptatem voluptates veniam quos doloribus repudiandae?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae inventore optio unde nulla voluptates suscipit iusto laudantium, corrupti hic possimus! Eius ullam pariatur dolorum voluptas corporis non illo dolore nulla.

        </p>
    </article>

{%endblock%}